body{font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: burlywood;}
h1{line-height: 5rem;
    font-weight: 700;
    text-decoration-line: underline;
    text-decoration-color: saddlebrown;
    text-decoration-style: dotted;
    }
p{
    color: rgba(0, 12, 4, 0.959);
    font-size: 1,5rem;
    
    font-weight: 300;
    line-height: 2rem;

}
.kontakty {font-size: 1.25rem;
    font-style: italic;
    line-height: 3rem;
    color: rgb(19, 1, 1)}
a{font-style: normal;}
.kontakty > a:link{color:rgb(252, 45, 165);}
.kontakty > a:visited{color:rgb(162, 0, 255);}
.kontakty > a:hover {color:rgba(226, 5, 5, 0.856);}
.kontakty > a:active {color: green;}
.obrazek > img {border-width: 3px; 
    border-style: solid; 
    border-color: rgb(241, 93, 7);}
